*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --fondo: #14213d;
    --accent: #fca311;
    --element: #F24A72;
    --card: #e5e5e5;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--fondo);
    color: white;
    margin: 0px;
    transition: 0.6s;
}


.wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5%;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-size: 1.4rem;
    text-align: center;
}

.form>input{
    margin: 10% 0% 5% 0%;
    padding: 0.5em;
    border: none;
    transition: 0.4s;
    border-radius: 20px;
    text-align: center;
    font-style: italic;
}

.btnSend{
    background-color: var(--element);
    border: none;
    border-radius: 20px;
    padding: 1.3rem;
    transition: 1.4s;
}

.btnSend:hover{
    background-color: var(--accent);
}

.pokeInfo{
    display: none;
}

.pokeInfo--visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    border-radius: 40px;
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    background-color: var(--card);
    color: var(--element);
    font-size: 1.3rem;
}

.pokeInfo__name{
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    width: 100%;
}

.pokeInfo__img{
    min-width: 50%;
    min-height: 50%;
}

.pokeInfo--visible>p{
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.pokeInfo__btn{
    background-color: var(--accent);
    border: none;
    border-radius: 20px;
    padding: 0.7rem;
    transition: 1.4s;
}

.pokeInfo__btn:hover{
    background-color: var(--element);
}